<div class="container">


    <div class="blogs">

        <% data.reverse().forEach(data=> { %>

            <div class="blog">
                <a href="">
                    <div class="user">
                        <img src="./imgs/icons8-avatar-50.png" alt="avatar" id="avatar">
                        <p>
                            <%= data.createdBy.toLowerCase() %>
                        </p>
                        <span>
                            <%= data.createdAt.toDateString() %>
                        </span>

                    </div>
                </a>

                <div class="blogsFront">
                    <a href="/blogContent-<%=data._id%>">
                        <h3>
                            <%= data.title %>
                        </h3>
                        <p>
                            <%= data.body?.slice(0,300) %>....
                        </p>
                    </a>

                </div>
                <div class=" tools">
                    <p>ForntEnd development</p>

                    <div class="save" data-blog='<%=data._id%>'>

                        <% if (data.savedBy.includes(userid)) { %>
                            <img src="./imgs/icons8-save-24-b.png" alt="">
                            <% } else { %>
                                <img src="./imgs/icons8-save-24.png" alt="">
                                <% } %>






                    </div>


                    <span>...</span>
                </div>
            </div>

            <% }) %>







    </div>

    <div class="saved-list">
        <h2>Recently saved </h2>
        <div class="saved">

        </div>



        <a href="/reading-list">see all</a>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 
    <script>
        const savebtns = document.querySelectorAll(".save");
        const savedlist = document.querySelector(".saved")
        // const saveimg1 = '<img src="./imgs/icons8-save-24.png" alt="">';
        const saveimg2 = '<img src="./imgs/icons8-save-24-b.png" alt="">';

        // let save = false;
        savebtns.forEach((savebtn) => {

            const savecontainer = savebtn;

            // savecontainer.innerHTML = save ? saveimg2 : saveimg1;

            savebtn.addEventListener("click", async () => {


                if (savecontainer.innerHTML === saveimg2) {
                    return;
                }
                const blogId = savebtn.dataset.blog;

                console.log(blogId)

                savedPost(blogId)
                // save = !save;
                // savecontainer.innerHTML = save ? saveimg2 : saveimg1;

                savecontainer.innerHTML = saveimg2
                // window.location.reload();


            });


        });

        async function savedPost(blog) {

            await axios.post("/saved-list", { blog })
                .then(res => {
                    console.log(res.data.data)

                    data = res.data.data
                    console.log(data)


                }
                )

        }
        axios.get('/saved-list').then(res => {

            let data = res.data.data.slice(-4);
            console.log(data)

            // console.log(data.savedBy)
            // console.log(data.savedBy.filter((id) => id === res.data.userid))

            data.forEach(data => {
                const saved = data.savedBy.filter((id => id === res.data.userid))
                // console.log(data)
                console.log(res)
                if (res.data.userid === saved[0]) {

                    const html = `
                        <div class="saved-blog">
                        <a href="/profile"><div class="user">
                            <img src="./imgs/icons8-avatar-50.png" alt="avatar" id="avatar">
                    <p>${data.createdBy.toLowerCase()}</p>
                        </div></a>
                        <a href="/blogContent-${data._id}">
                            <div class="blog-title">
                          <h3>${data.title}</h3>
                            <span>${data.createdAt}</span>
                        </div></a>
                    </div>`

                    savedlist.insertAdjacentHTML('afterbegin', html)
                }


            })

        }

        )
        // axios.get("/getSessionData").then(res => {
        //     console.log(res)
        // })

    </script> -->

    <script>
        const savebtns = document.querySelectorAll(".save");
        const savedlist = document.querySelector(".saved");


        // Function to display saved posts
        const displaySavedPosts = async () => {
            try {
                const res = await axios.get('/saved-list');
                const data = res.data.data;
                console.log(data)

                savedlist.innerHTML = ''; // Clear existing saved posts

                data.reverse().forEach(data => {
                    const saved = data.savedBy.includes(res.data.userid);

                    if (saved) {
                        const html = `
                            <div class="saved-blog">
                                <a href="/profile">
                                    <div class="user">
                                        <img src="./imgs/icons8-avatar-50.png" alt="avatar" id="avatar">
                                        <p>${data.createdBy.toLowerCase()}</p>
                                    </div>
                                </a>
                                <a href="/blogContent-${data._id}">
                                    <div class="blog-title">
                                        <h3>${data.title}</h3>
                                        <span>${data.createdAt}</span>
                                    </div>
                                </a>
                            </div>`;

                        savedlist.insertAdjacentHTML('afterbegin', html);
                    }
                });
            } catch (error) {
                console.error('Error fetching saved posts:', error);
            }
        };

        // Event listener for save buttons
        const saveimg2 = '<img src="./imgs/icons8-save-24-b.png" alt="">';
        savebtns.forEach((savebtn) => {
            savebtn.addEventListener("click", async () => {
                const blogId = savebtn.dataset.blog;

                try {
                    const res = await axios.post("/saved-list", { blog: blogId });
                    console.log(res.data.data);
                    if (savebtn.innerHTML === saveimg2) {
                        return;
                    }
                    savebtn.innerHTML = saveimg2
                    // After saving, display updated saved posts
                    await displaySavedPosts();
                    // document.body.style.cursor = 'wait';

                    // // When the window has finished loading, set it back to default...
                    // // window.onload = function () { document.body.style.cursor = 'default'; }
                } catch (error) {
                    console.error('Error saving post:', error);
                }
            });
        });
        axios.get("/checkConnect").then(res => { console.log(res) })
        // Display saved posts when the page loads
        window.addEventListener('DOMContentLoaded', displaySavedPosts);
    </script>




</div>